/mapi-0.01.tar.gz
/config.log
/config.status
/Makefile
/.autotools
/.cproject
/.project

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/autom4te.cache
/.settings/
